<%= link_to "Register Player", new_player_path %>

<h1> New Game </h1>

<%= form_tag(games_path) do %>
  <%= label_tag(:player_1, "Player 1") %>
  <%= select_tag(:player_1, options_for_select(Player.all.map{|p| [p.name, p.id]})) %>
  <br>
  <%= label_tag(:player_2, "Player 2") %>
  <%= select_tag(:player_2, options_for_select(Player.all.map{|p| [p.name, p.id]})) %>
  <br>
  <%= submit_tag("Start Game") %>
<% end %>