<%= link_to "New Match", new_match_path %>
<br>
<br>
Player 1: <%= @match.player1.name %><br>
Player 2: <%= @match.player2.name %>
<div id="board">
  <%= simple_format(@board.display_string) %>
</div>

Score:<br>
X: <span id="x-score"><%= @board.x_score %></span><br>
Y: <span id="y-score"><%= @board.y_score %></span><br>